{% extends '__base.html' %}
{% load static %}
{% load i18n %}
	

{% block content %}
	
	
<!-- About Section -->
<section class="about-section">
    <div class="auto-container">
        <div class="row clearfix">
        
            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image">
                        <img src="{% static 'images/shatumar.png' %}" alt="" style="width: 640px; height: 527px; object-fit: contain;"/>
                        
                        <!-- Experiance Box -->
                        <div class="experiance">
                            <div class="counter"><span class="odometer" data-count="14"></span> +</div>
                            <span class="years">years of <br> experince</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="title">{% trans "About" %}</div>
                    <h2>Shatumar Private Enterprise</h2>
                    <div class="text">We design and produce eco-friendly household cleaning <br> products to keep your home clean, fresh and safe.</div>
                    <ul class="options d-flex">
                        <li><span class="icon d-flex"><span>🧼</span></span>{% trans "safe for your home" %}</li>
                        <li><span class="icon d-flex"><span>🧼</span></span>{% trans "stay fresh, stay happy" %}</li>
			            <li><span class="icon d-flex"><span>🧼</span></span>{% trans "eco-friendly" %}</li>
                    </ul>
                    <ul class="check-list">
                        <li>From Laundry to Luxury: Discover the Shatumar Range</li>
                        <li>Your Complete Solution for Household Hygiene: Shatumar</li>
                        <li>German technology and Modern design</li>
                        <li>Shatumar: Clean. Simple. Effective</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- End About Section -->

<!-- Sale Section Three -->
<section class="sale-section-three">
    <div class="auto-container">
        <!-- Title Box -->
        <div class="title-box">
            <div class="title">{% trans "premium quality ingredients" %}</div>
            <h2>Produce Stuning Printing <br> For Your Business</h2>
        </div>
        
        <!-- Sale Info Tabs -->
        <div class="sale-info-tabs">
            <!-- Sale Tabs -->
            <div class="sale-tabs tabs-box">
            
                <!-- Tab Btns -->
                <ul class="tab-btns tab-buttons clearfix">
                    <li data-tab="#prod-about" class="tab-btn active-btn">{% trans "About" %}</li>
                </ul>
                
                <!-- Tabs Container -->
                <div class="tabs-content">
                    
                    <!-- Tab / Active Tab -->
                    <div class="tab active-tab" id="prod-about">
                        <div class="content">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from characteristic words etc.</p>
                            <h5>World best education site - (Computer engeenering)</h5>
                            <div class="check-list-outer">
                                <div class="row clearfix">
                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                        <ul class="check-list">
                                            <li>Preaching Worship An Online Family</li>
                                            <li>Preaching Worship An Online Family</li>
                                        </ul>
                                    </div>
                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                        <ul class="check-list">
                                            <li>Preaching Worship An Online Family</li>
                                            <li>Preaching Worship An Online Family</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- End Sale Section Three -->

<!-- Sponsors Section -->
<section class="sponsors-section" style="margin-bottom: 100px;">
    <div class="auto-container">
        <div class="inner-container">
            <div class="sponsors-outer">
                <!-- Sponsors Carousel -->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    {% for certificate in certificates %}
                        <li class="slide-item">
                            <figure class="image-box">
                                <a href="{{ certificate.img.url }}" class="lightbox-image">
                                    <img src="{{ certificate.img.url }}" alt="">
                                </a>
                            </figure>
                        </li>
                    {% endfor %}
                    
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Sponsors Section -->

	
{% endblock content %}
