{% extends '__base.html' %}
{% load static %}
{% load i18n %}
	

{% block content %}
	
	
<!-- About Section -->
<section class="about-section">
    <div class="auto-container">
        <div class="row clearfix">
        
            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image">
                        <img src="{% static 'images/shatumar.png' %}" alt="" style="width: 640px; height: 527px; object-fit: contain;"/>
                        
                        <!-- Experiance Box -->
                        <div class="experiance">
                            <div class="counter"><span class="odometer" data-count="14"></span> +</div>
                            <span class="years">{% trans "years of experience" %}</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="title">{% trans "About" %}</div>
                    <h2>{% trans "shatumar private enterprise" %}</h2>
                    <div class="text">{% trans "we design and produce" %}</div>
                    <ul class="options d-flex">
                        <li><span class="icon d-flex"><span>🧼</span></span>{% trans "safe for your home" %}</li>
                        <li><span class="icon d-flex"><span>🧼</span></span>{% trans "stay fresh, stay happy" %}</li>
			            <li><span class="icon d-flex"><span>🧼</span></span>{% trans "eco-friendly" %}</li>
                    </ul>
                    <ul class="check-list">
                        <li>{% trans "1st feature" %}</li>
                        <li>{% trans "2nd feature" %}</li>
                        <li>{% trans "3rd feature" %}</li>
                        <li>{% trans "4th feature" %}</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- End About Section -->

<!-- Sale Section Three -->
<section class="sale-section-three">
    <div class="auto-container">
        <!-- Title Box -->
        <div class="title-box">
            <div class="title">{% trans "premium quality ingredients" %}</div>
            <h2>{% trans "shatumar private enterprise" %}</h2>
        </div>
        
        <!-- Sale Info Tabs -->
        <div class="sale-info-tabs">
            <!-- Sale Tabs -->
            <div class="sale-tabs tabs-box">
            
                <!-- Tab Btns -->
                <ul class="tab-btns tab-buttons clearfix">
                    <li data-tab="#prod-about" class="tab-btn active-btn">{% trans "About" %}</li>
                </ul>
                
                <!-- Tabs Container -->
                <div class="tabs-content">
                    
                    <!-- Tab / Active Tab -->
                    <div class="tab active-tab" id="prod-about">
                        <div class="content">
                            <p style="text-indent: 50px;line-height: normal;">
                                {% trans "1st paragraph" %}
                            </p>
                            <p style="text-indent: 50px;line-height: normal;">
                                {% trans "2nd paragraph" %}
                            </p>
                            <p style="text-indent: 50px;line-height: normal;">
                                {% trans "3rd paragraph" %}
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- End Sale Section Three -->

<!-- Sponsors Section -->
<section class="sponsors-section" style="margin-bottom: 100px;">
    <div class="auto-container">
        <div class="inner-container">
            <div class="sponsors-outer">
                <!-- Sponsors Carousel -->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    {% for certificate in certificates %}
                        <li class="slide-item">
                            <figure class="image-box">
                                <a href="{{ certificate.img.url }}" class="lightbox-image">
                                    <img src="{{ certificate.img.url }}" alt="">
                                </a>
                            </figure>
                        </li>
                    {% endfor %}
                    
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Sponsors Section -->

	
{% endblock content %}
