{% extends '__base.html' %}
{% load static %}
	

{% block content %}
	
	
	<!-- Contact Page Section -->
    <div class="contact-page-section">
    	<div class="auto-container">
        	<div class="row clearfix">
				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
					
						<!-- Info Box -->
						<div class="info-box">
							<div class="box-inner d-flex align-items-center">
								<div class="icon flaticon-email-1"></div>
								<div class="content">
									<strong>Mail address</strong>
									<a href="mailto:prinox@gmail.com">prinox@gmail.com</a><br>
									<a href="tel:+998757478492">+998757478492</a>
								</div>
							</div>
						</div>
						
						<!-- Info Box -->
						<div class="info-box">
							<div class="box-inner d-flex align-items-center">
								<div class="icon flaticon-map"></div>
								<div class="content">
									<strong>Office address</strong>
									<div class="text">Digital Agency Network 2021 Eastbourne Terrace</div>
								</div>
							</div>
						</div>
						
						<!-- Info Box -->
						<div class="info-box">
							<div class="box-inner d-flex align-items-center">
								<div class="icon flaticon-call"></div>
								<div class="content">
									<strong>Phone Number</strong>
									<a href="tel:+880-123-456-789">+880 123 456 789</a><br>
									<a href="tel:+9987574">+9987574</a>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<!-- Map Column -->
				<div class="map-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!--Map Outer-->
						<div class="map-outer">
							<iframe src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d28393.03270992468!2d61.86706712180292!3d37.58063990771813!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x3f41901c88502857%3A0x8501a8711ae97869!2s1%20nji%20Ja%C3%BD%20Toplumy!3m2!1d37.5845978!2d61.8687137!4m5!1s0x3f418e242a6088b7%3A0x945f91c717829ac3!2sMary!3m2!1d37.6092461!2d61.864325199999996!5e0!3m2!1sru!2s!4v1731253960666!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Contact Boxed -->
			<div class="contact-boxed">
				<!-- Title Box -->
				<div class="title-box">
					<h3>Drop Us a Line</h3>
					<div class="text">Your email address will not be published. Required fields are marked *</div>
				</div>
				
				<!-- Contact Form -->
				<div class="contact-form">
					<form method="post" action="sendemail.php" id="contact-form">
						<div class="row clearfix">
							
							<div class="col-lg-6 col-md-6 col-sm-12 form-group">
								<input type="text" name="username" placeholder="Enter Your name" required="">
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-12 form-group">
								<input type="text" name="email" placeholder="Enter Email Address*" required="">
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-12 form-group">
								<select name="currency" class="custom-select-box" name="services" required>
									<option>Select Service Type</option>
									<option>City 01</option>
									<option>City 02</option>
									<option>City 03</option>
									<option>City 04</option>
								</select>
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-12 form-group">
								<input type="text" name="phone" placeholder="Enter Phone Number" required="">
							</div>
							
							<div class="col-lg-12 col-md-12 col-sm-12 form-group">
								<textarea class="" name="message" placeholder="Enter Your Messege here"></textarea>
							</div>
							
							<div class="col-lg-12 col-md-12 col-sm-12 form-group">
								<div class="buttons-box">
									<button class="theme-btn btn-style-one">
										post a comment
									</button>
								</div>
							</div>
							
						</div>
					</form>
				</div>
				<!-- End Contact Form -->
				
			</div>
			<!-- End Contact Boxed -->
			
		</div>
	</div>
	<!-- End Contact Page Section -->
	
{% endblock content %}