{% extends '__base.html' %}
{% load static %}
{% load i18n %}


{% block content %}

	<!-- Contact Page Section -->
    <div class="contact-page-section">
    	<div class="auto-container">
        	<div class="row clearfix">
				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
					
						<!-- Info Box -->
						<div class="info-box">
							<div class="box-inner d-flex align-items-center">
								<div class="icon flaticon-email-1"></div>
								<div class="content">
									<strong style="font-weight: 600;">{% trans 'mail' %}</strong>
									<a href="mailto:sales.shatumar@gmail.com">sales.shatumar@gmail.com</a><br>
									<a href="tel:+99364319060">+99364319060</a>
								</div>
							</div>
						</div>
						
						<!-- Info Box -->
						<div class="info-box">
							<div class="box-inner d-flex align-items-center">
								<div class="icon flaticon-map"></div>
								<div class="content">
									<strong style="font-weight: 600;">{% trans 'office' %}</strong>
									<div class="text">1 nji Jaý Toplumy, Мары</div>
								</div>
							</div>
						</div>
						
						<!-- Info Box -->
						<div class="info-box">
							<div class="box-inner d-flex align-items-center">
								<div class="icon flaticon-call"></div>
								<div class="content">
									<strong style="font-weight: 600;">{% trans 'phone' %}</strong>
									<a href="tel:+99365656565">+99365656565</a><br>
									<a href="tel:+99365656565">+99365656565</a>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<!-- Map Column -->
				<div class="map-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<!--Map Outer-->
						<div class="map-outer">
							<iframe src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d28393.03270992468!2d61.86706712180292!3d37.58063990771813!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x3f41901c88502857%3A0x8501a8711ae97869!2s1%20nji%20Ja%C3%BD%20Toplumy!3m2!1d37.5845978!2d61.8687137!4m5!1s0x3f418e242a6088b7%3A0x945f91c717829ac3!2sMary!3m2!1d37.6092461!2d61.864325199999996!5e0!3m2!1sru!2s!4v1731253960666!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<!-- End Contact Page Section -->
         
{% endblock content %}
