{% extends '__base.html' %}
{% load static %}

{% block content %}

	
	<!-- Shop Detail Section -->
	<section class="shop-detail-section" style="margin-bottom: 100px;">
		<div class="auto-container">
			<!-- Upper Box -->
			<div class="upper-box">
				<div class="row clearfix">
					<!-- Gallery Column -->
					<div class="gallery-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="carousel-outer">
                                <!-- Swiper -->
                                <div class="swiper-container content-carousel">
                                    <div class="swiper-wrapper">
										{% for image in images %}
											<div class="swiper-slide">
												<figure class="image">
													<a href="{{ image.img.url }}" class="lightbox-image">
														<img src="{{ image.img.url }}" 
															style="width: 500px; height: 500px; object-fit: contain"
															alt=""
														>
													</a>
												</figure>
											</div>
										{% endfor %}
                                    </div>
                                </div>

                                <div class="swiper-container thumbs-carousel">
                                    <div class="swiper-wrapper">
										<!-- 128x113 -->
										{% for image in images %}
											<div class="swiper-slide">
												<figure class="thumb">
													<img src="{{ image.img.url }}" 
														style="width: 128px; height: 113px; object-fit: contain"
														alt=""
													>
												</figure>
											</div>
										{% endfor %}
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
					<!-- Content Column -->
					<div class="content-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<h3>{{ product.name }}</h3>
						
							<div class="text">{{ product.description }}</div>
							
							<!-- Categories -->
							<div class="categories"><span>Category :</span> {{ product.category }}</div>
							
							
						</div>
					</div>
				</div>
			</div>
			<!-- End Upper Box -->
			
		</div>
	</section>
	<!-- End Shop Page Section -->

	
{% endblock content %}
