{% extends '__base.html' %}
{% load static %}

{% block content %}
	<!-- Main Section -->
	<section class="main-slider">
		<div class="main-slider-carousel owl-carousel owl-theme">
			
			<!-- Slide One -->
			<div class="slide">
				<div class="image-layer" style="background-image: url('{% static "images/main-slider/image-1.jpg" %}')"></div>
				<div class="auto-container">
					
					<!-- Content Column -->
					<div class="content-box">
						<div class="box-inner">
							<div class="vector-icon" style="margin: 40px; height: 150px; background-image: url('{% static "images/main-slider/bubbles.png" %}')"></div>
							<div class="vector-icon-three" style="background-image: url('{% static "images/main-slider/vector-3.png" %}')"></div>
							<div class="sale-box">
								SALE
								<span>30<i>% OFF</i></span>
							</div>
							<div class="title">2024 Collection</div>
							<h1>Shatumar <br> Collection1</h1>
							<div class="price">Starting From <span>$560.99</span></div>
							<a href="shop-detail.html" class="shop-now">Shop Now</a>
							<!-- Arrival Box -->
							<a href="shop.html" class="arrival-box">New Arrival</a>
							<!-- Arrival Box -->
						</div>
					</div>
					
				</div>
			</div>
			<!-- End Slide One -->
			
			<!-- Slide One -->
			<div class="slide">
				<div class="image-layer" style="background-image: url('{% static "images/main-slider/image-1.jpg" %}')"></div>
				<div class="auto-container">
					
					<!-- Content Column -->
					<div class="content-box">
						<div class="box-inner">
							<div class="vector-icon" style="margin: 40px; height: 150px; background-image: url('{% static "images/main-slider/bubbles.png" %}')"></div>
							<div class="vector-icon-three" style="background-image: url('{% static "images/main-slider/vector-3.png" %}')"></div>
							<div class="sale-box">
								SALE
								<span>30<i>% OFF</i></span>
							</div>
							<div class="title">2024 Collection</div>
							<h1>Shatumar <br> Collection2</h1>
							<div class="price">Starting From <span>$560.99</span></div>
							<a href="shop-detail.html" class="shop-now">Shop Now</a>
							<!-- Arrival Box -->
							<a href="shop.html" class="arrival-box">New Arrival</a>
							<!-- Arrival Box -->
						</div>
					</div>
					
				</div>
			</div>
			<!-- End Slide One -->
			
			<!-- Slide One -->
			<div class="slide">
				<div class="image-layer" style="background-image: url('{% static "images/main-slider/image-1.jpg" %}')"></div>
				<div class="auto-container">
					
					<!-- Content Column -->
					<div class="content-box">
						<div class="box-inner">
							<div class="vector-icon" style="margin: 40px; height: 150px; background-image: url('{% static "images/main-slider/bubbles.png" %}')"></div>
							<div class="vector-icon-three" style="background-image: url('{% static "images/main-slider/vector-3.png" %}')"></div>
							<div class="sale-box">
								SALE
								<span>30<i>% OFF</i></span>
							</div>
							<div class="title">2024 Collection</div>
							<h1>Shatumar <br> Collection3</h1>
							<div class="price">Starting From <span>$560.99</span></div>
							<a href="shop-detail.html" class="shop-now">Shop Now</a>
							<!-- Arrival Box -->
							<a href="shop.html" class="arrival-box">New Arrival</a>
							<!-- Arrival Box -->
						</div>
					</div>
					
				</div>
			</div>
			<!-- End Slide One -->
			
			
		</div>
		
		
	</section>
	<!-- End Main Section -->
	
	<!-- Featured Section -->
	<section class="featured-section">
		<div class="vector-layer" style="background-image: url('{% static "images/icons/feature.png" %}')"></div>
		<div class="vector-layer-two" style="background-image: url('{% static "images/icons/feature.png" %}')"></div>
		<div class="auto-container">
			<div class="inner-container">
				<div class="row clearfix">
				
					<!-- Feature Block -->
					<div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="content">
								<div class="icon flaticon-fast"></div>
								<strong>Free Shipping</strong>
								<div class="text">Free shipping over $100</div>
							</div>
						</div>
					</div>
					
					<!-- Feature Block -->
					<div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="content">
								<div class="icon flaticon-padlock"></div>
								<strong>Payment Secure</strong>
								<div class="text">Got 100% Payment Safe</div>
							</div>
						</div>
					</div>
					
					<!-- Feature Block -->
					<div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="content">
								<div class="icon flaticon-headphones-1"></div>
								<strong>Support 24/7</strong>
								<div class="text">Top quialty 24/7 Support</div>
							</div>
						</div>
					</div>
					
					<!-- Feature Block -->
					<div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="content">
								<div class="icon flaticon-headphones-1"></div>
								<strong>Support 24/7</strong>
								<div class="text">Top quialty 24/7 Support</div>
							</div>
						</div>
					</div>
					
					
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Featured Section -->
	
	<!-- Products Section -->
	<section class="products-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<h4><span>Populer</span> Products For You !</h4>
			</div>
			<div class="four-item-carousel owl-carousel owl-theme">
				
				<!-- Shop Item -->
				<div class="shop-item">
					<div class="inner-box">
						<div class="image">
							<a href="shop-detail.html"><img src="{% static 'images/resource/products/1.png' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<h6><a href="shop-detail.html">masks 95 percent 0.3-μm <br> particles</a></h6>
						</div>
					</div>
				</div>
				
				<!-- Shop Item -->
				<div class="shop-item">
					<div class="inner-box">
						<div class="image">
							<a href="shop-detail.html"><img src="{% static 'images/resource/products/1.png' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<h6><a href="shop-detail.html">masks 95 percent 0.3-μm <br> particles</a></h6>
						</div>
					</div>
				</div>
				
				<!-- Shop Item -->
				<div class="shop-item">
					<div class="inner-box">
						<div class="image">
							<a href="shop-detail.html"><img src="{% static 'images/resource/products/1.png' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<h6><a href="shop-detail.html">masks 95 percent 0.3-μm <br> particles</a></h6>
						</div>
					</div>
				</div>
				
				<!-- Shop Item -->
				<div class="shop-item">
					<div class="inner-box">
						<div class="image">
							<a href="shop-detail.html"><img src="{% static 'images/resource/products/1.png' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<h6><a href="shop-detail.html">masks 95 percent 0.3-μm <br> particles</a></h6>
						</div>
					</div>
				</div>
				
				<!-- Shop Item -->
				<div class="shop-item">
					<div class="inner-box">
						<div class="image">
							<a href="shop-detail.html"><img src="{% static 'images/resource/products/1.png' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<h6><a href="shop-detail.html">masks 95 percent 0.3-μm <br> particles</a></h6>
						</div>
					</div>
				</div>
				
				<!-- Shop Item -->
				<div class="shop-item">
					<div class="inner-box">
						<div class="image">
							<a href="shop-detail.html"><img src="{% static 'images/resource/products/1.png' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<h6><a href="shop-detail.html">masks 95 percent 0.3-μm <br> particles</a></h6>
						</div>
					</div>
				</div>
				
				<!-- Shop Item -->
				<div class="shop-item">
					<div class="inner-box">
						<div class="image">
							<a href="shop-detail.html"><img src="{% static 'images/resource/products/1.png' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<h6><a href="shop-detail.html">masks 95 percent 0.3-μm <br> particles</a></h6>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>	
	<!-- End Products Section -->
	
	<!-- Brand Section -->
	<section class="brand-section">
		<div class="outer-container">
			<div class="animation_mode">
				<!-- <h1>Design. <span>Brand</span>. <strong>Quality</strong></h1> -->
				<img src="{% static 'images/shatumar.png' %}" alt="" style="height: 100px"/>
				<img src="{% static 'images/shatumar.png' %}" alt="" style="height: 100px"/>
				<img src="{% static 'images/shatumar.png' %}" alt="" style="height: 100px"/>
				<img src="{% static 'images/shatumar.png' %}" alt="" style="height: 100px"/>
				<img src="{% static 'images/shatumar.png' %}" alt="" style="height: 100px"/>
				<img src="{% static 'images/shatumar.png' %}" alt="" style="height: 100px"/>
				<img src="{% static 'images/shatumar.png' %}" alt="" style="height: 100px"/>
				<img src="{% static 'images/shatumar.png' %}" alt="" style="height: 100px"/>
				<img src="{% static 'images/shatumar.png' %}" alt="" style="height: 100px"/>
				<img src="{% static 'images/shatumar.png' %}" alt="" style="height: 100px"/>
				<!-- <img src="{% static 'images/icons/feature.png' %}" alt="" />
				<img src="{% static 'images/icons/icon-2.png' %}" alt="" />
				<h1>Design. <span>Brand</span>. <strong>Quality</strong></h1>
				<img src="{% static 'images/icons/icon-1.png' %}" alt="" />
				<img src="{% static 'images/icons/feature.png' %}" alt="" />
				<img src="{% static 'images/icons/icon-2.png' %}" alt="" />
				<h1>Design. <span>Brand</span>. <strong>Quality</strong></h1>
				<img src="{% static 'images/icons/icon-1.png' %}" alt="" />
				<img src="{% static 'images/icons/feature.png' %}" alt="" />
				<img src="{% static 'images/icons/icon-2.png' %}" alt="" />
				<h1>Design. <span>Brand</span>. <strong>Quality</strong></h1>
				<img src="{% static 'images/icons/icon-1.png' %}" alt="" />
				<img src="{% static 'images/icons/feature.png' %}" alt="" />
				<img src="{% static 'images/icons/icon-2.png' %}" alt="" /> -->
			</div>
		</div>
	</section>
	<!-- End Brand Section -->
	
	
	<!-- Products Section Two -->
	<section class="products-section-two">
		<div class="bottom-white-border"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<h4><span>Populer</span> Products For You !</h4>
			</div>
			<div class="inner-container">
				<div class="single-item-carousel owl-carousel owl-theme">
					
					<!-- Slide -->
					<div class="slide">
						<div class="row clearfix">
						
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-1.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Full Sleeve Cotton</a></h6>
										<div class="total-products">(312 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-2.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Full Sleeve Cotton</a></h6>
										<div class="total-products">(312 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-3.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Monkey Red Caps</a></h6>
										<div class="total-products">(213 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-4.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Men,s Cotton Pant</a></h6>
										<div class="total-products">(461 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-5.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Full Sleeve Cotton</a></h6>
										<div class="total-products">(312 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-6.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Full Sleeve Cotton</a></h6>
										<div class="total-products">(567 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-7.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Monkey Red Caps</a></h6>
										<div class="total-products">(213 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-8.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Men,s Cotton Pant</a></h6>
										<div class="total-products">(461 Product)</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
					<!-- Slide -->
					<div class="slide">
						<div class="row clearfix">
						
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-1.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Full Sleeve Cotton</a></h6>
										<div class="total-products">(312 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-2.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Full Sleeve Cotton</a></h6>
										<div class="total-products">(312 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-3.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Monkey Red Caps</a></h6>
										<div class="total-products">(213 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-4.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Men,s Cotton Pant</a></h6>
										<div class="total-products">(461 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-5.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Full Sleeve Cotton</a></h6>
										<div class="total-products">(312 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-6.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Full Sleeve Cotton</a></h6>
										<div class="total-products">(567 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-7.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Monkey Red Caps</a></h6>
										<div class="total-products">(213 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-8.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Men,s Cotton Pant</a></h6>
										<div class="total-products">(461 Product)</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
					<!-- Slide -->
					<div class="slide">
						<div class="row clearfix">
						
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-1.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Full Sleeve Cotton</a></h6>
										<div class="total-products">(312 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-2.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Full Sleeve Cotton</a></h6>
										<div class="total-products">(312 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-3.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Monkey Red Caps</a></h6>
										<div class="total-products">(213 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-4.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Men,s Cotton Pant</a></h6>
										<div class="total-products">(461 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-5.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Full Sleeve Cotton</a></h6>
										<div class="total-products">(312 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-6.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Full Sleeve Cotton</a></h6>
										<div class="total-products">(567 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-7.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Monkey Red Caps</a></h6>
										<div class="total-products">(213 Product)</div>
									</div>
								</div>
							</div>
							
							<!-- Product Block Four -->
							<div class="product-block-four col-lg-3 col-md-6 col-sm-6">
								<div class="inner-box d-flex justify-content-between align-items-center flex-wrap">
									<div class="image">
										<img src="{% static 'images/resource/product-8.png' %}" alt="" />
									</div>
									<div class="content">
										<h6><a href="shop-detail.html">Men,s Cotton Pant</a></h6>
										<div class="total-products">(461 Product)</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
					
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Products Section Two -->
	
	<!-- Counter Section -->
	<section class="counter-section">
		<div class="auto-container">
			<div class="inner-container d-flex justify-content-between align-items-center flex-wrap">
				
				<!-- Shipping Box -->
				<div class="shipping-box">
					<div class="inner-box">
						Free <span class="theme_color">Shipping</span>
						<div class="order">On all Order</div>
					</div>
				</div>
				
				<!-- Arrow -->
				<div class="arrow">
					<img src="{% static 'images/icons/arrow.png' %}" alt="" />
				</div>
				
				<!-- Counter Boxed -->
				<div class="counter-boxed">
					<div class="row clearfix">
					
						<!-- Counter Column -->
						<div class="counter-block col-lg-6 col-md-6 col-sm-6">
							<div class="inner-box d-flex align-items-center">
								<div class="counter"><span class="odometer" data-count="12"></span>k</div>
								<div class="counter-text">Furniture Product For Home</div>
							</div>
						</div>
						
						<!-- Counter Column -->
						<div class="counter-block col-lg-6 col-md-6 col-sm-6">
							<div class="inner-box d-flex align-items-center">
								<div class="counter"><span class="odometer" data-count="120"></span>k</div>
								<div class="counter-text">Our Satiesfiyed Clients</div>
							</div>
						</div>
						
					</div>
				</div>
				<!-- End Counter Boxed -->
				
			</div>
		</div>
	</section>
	<!-- End Counter Section -->
	
	<!-- Collection Section -->
	<section class="collection-section">
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image: url('{% static "images/icons/pattern-1.png" %}')"></div>
				<div class="shape-layer" style="background-image: url('{% static "images/background/pattern-1.png" %}')"></div>
				<div class="row clearfix">
					<div class="title-column col-lg-6 col-md-12 col-sm-12">
						<div class="title">2021 Collection</div>
						<h2>mens Black Meta Sunglass</h2>
						<div class="deals">Deals <span>35% Flat</span></div>
						<a class="shop-now" href="shop-detail.html">Shop Now</a>
						<!-- Arrow -->
						<div class="arrow">
							<img src="{% static 'images/icons/arrow-1.png' %}" alt="" />
						</div>
					</div>
					<div class="image-column col-lg-6 col-md-12 col-sm-12">
						<div class="image">
							<div class="shadow-layer" style="background-image: url('{% static "images/icons/pattern-1.png" %}')"></div>
							<img src="{% static 'images/resource/chair.png' %}" alt="" />
							<div class="price-tag">
								99<sup>$</sup>
								<span>103</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Collection Section -->
	
	
	<!-- Sponsors Section -->
	<section class="sponsors-section">
		<div class="auto-container">
			<div class="inner-container">
				<div class="sponsors-outer">
					<!-- Sponsors Carousel -->
					<ul class="sponsors-carousel owl-carousel owl-theme">
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/clients/1.png' %}" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/clients/2.png' %}" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/clients/4.png' %}" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/clients/5.png' %}" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/clients/1.png' %}" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/clients/2.png' %}" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/clients/4.png' %}" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/clients/5.png' %}" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/clients/1.png' %}" alt=""></a></figure></li>
						<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/clients/2.png' %}" alt=""></a></figure></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- End Sponsors Section -->
	
	<!-- News Section -->
	<section class="news-section">
		<div class="auto-container">
			<div class="news-carousel owl-carousel owl-theme">
			
				<!-- News Block -->
				<div class="news-block">
					<div class="inner-box">
						<div class="image">
							<div class="tag">bedroom</div>
							<a href="blog-detail.html"><img src="{% static 'images/resource/news-1.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="author">
								<img src="{% static 'images/resource/author-1.jpg' %}" alt="" />
							</div>
							<h5><a href="blog-detail.html">10 Simple Practices That Will Help You furnis</a></h5>
							<div class="info">By: <span>Alextian</span> <i>January 23,2022</i></div>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block">
					<div class="inner-box">
						<div class="image">
							<div class="tag">bedroom</div>
							<a href="blog-detail.html"><img src="{% static 'images/resource/news-2.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="author">
								<img src="{% static 'images/resource/author-1.jpg' %}" alt="" />
							</div>
							<h5><a href="blog-detail.html">10 Simple Practices That Will Help You furnis</a></h5>
							<div class="info">By: <span>Alextian</span> <i>January 23,2022</i></div>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block">
					<div class="inner-box">
						<div class="image">
							<div class="tag">bedroom</div>
							<a href="blog-detail.html"><img src="{% static 'images/resource/news-1.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="author">
								<img src="{% static 'images/resource/author-1.jpg' %}" alt="" />
							</div>
							<h5><a href="blog-detail.html">10 Simple Practices That Will Help You furnis</a></h5>
							<div class="info">By: <span>Alextian</span> <i>January 23,2022</i></div>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block">
					<div class="inner-box">
						<div class="image">
							<div class="tag">bedroom</div>
							<a href="blog-detail.html"><img src="{% static 'images/resource/news-2.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="author">
								<img src="{% static 'images/resource/author-1.jpg' %}" alt="" />
							</div>
							<h5><a href="blog-detail.html">10 Simple Practices That Will Help You furnis</a></h5>
							<div class="info">By: <span>Alextian</span> <i>January 23,2022</i></div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End News Section -->
	
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="pattern-layer" style="background-image: url('{% static "images/background/pattern-3.png" %}')"></div>
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer-two" style="background-image: url('{% static "images/background/pattern-4.png" %}')"></div>
				<div class="vector-layer" style="background-image: url('{% static "images/background/pattern-2.png" %}')"></div>
				<div class="single-item-carousel owl-carousel owl-theme">
					
					<!-- Testimonial Block -->
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="row clearfix">
								<!-- Image Column -->
								<div class="image-column col-lg-4 col-md-12 col-sm-12">
									<div class="inner-column">
										<div class="arrow-layer" style="background-image: url('{% static "images/icons/arrow-2.png" %}')"></div>
										<div class="image">
											<img src="{% static 'images/resource/author-2.jpg' %}" alt="" />
											<!-- Social Box -->
											<ul class="social-box">
												<li><a href="https://www.facebook.com/" class="fa fa-facebook-f"></a></li>
												<li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
												<li><a href="https://dribbble.com/" class="fa fa-dribbble"></a></li>
												<li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- Content Column -->
								<div class="content-column col-lg-8 col-md-12 col-sm-12">
									<div class="inner-column">
										<div class="rating">
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="text">The most <span>advanced</span> revenue than this. I will refer everyone I know I like Level more and more each day because it makes my life a lot easier. It really saves me time and effort.</div>
										<div class="quote-icon flaticon-quote"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Testimonial Block -->
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="row clearfix">
								<!-- Image Column -->
								<div class="image-column col-lg-4 col-md-12 col-sm-12">
									<div class="inner-column">
										<div class="arrow-layer" style="background-image: url('{% static "images/icons/arrow-2.png" %}')"></div>
										<div class="image">
											<img src="{% static 'images/resource/author-2.jpg' %}" alt="" />
											<!-- Social Box -->
											<ul class="social-box">
												<li><a href="https://www.facebook.com/" class="fa fa-facebook-f"></a></li>
												<li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
												<li><a href="https://dribbble.com/" class="fa fa-dribbble"></a></li>
												<li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- Content Column -->
								<div class="content-column col-lg-8 col-md-12 col-sm-12">
									<div class="inner-column">
										<div class="rating">
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="text">The most <span>advanced</span> revenue than this. I will refer everyone I know I like Level more and more each day because it makes my life a lot easier. It really saves me time and effort.</div>
										<div class="quote-icon flaticon-quote"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->
	
	<!-- Gallery Section -->
	<section class="gallery-section">
		<div class="outer-container">
			<div class="instagram-carousel owl-carousel owl-theme">
				
				<!-- Insta Gallery -->
				<div class="insta-gallery">
					<img src="{% static 'images/gallery/1.jpg' %}" alt="" />
					<div class="overlay-box">
						<div class="overlay-inner">
							<a class="lightbox-image icon flaticon-instagram" href="{% static 'images/gallery/1.jpg' %}"></a>
						</div>
					</div>
				</div>
				
				<!-- Insta Gallery -->
				<div class="insta-gallery">
					<img src="{% static 'images/gallery/2.jpg' %}" alt="" />
					<div class="overlay-box">
						<div class="overlay-inner">
							<a class="lightbox-image icon flaticon-instagram" href="{% static 'images/gallery/1.jpg' %}"></a>
						</div>
					</div>
				</div>
				
				<!-- Insta Gallery -->
				<div class="insta-gallery">
					<img src="{% static 'images/gallery/3.jpg' %}" alt="" />
					<div class="overlay-box">
						<div class="overlay-inner">
							<a class="lightbox-image icon flaticon-instagram" href="{% static 'images/gallery/3.jpg' %}"></a>
						</div>
					</div>
				</div>
				
				<!-- Insta Gallery -->
				<div class="insta-gallery">
					<img src="{% static 'images/gallery/4.jpg' %}" alt="" />
					<div class="overlay-box">
						<div class="overlay-inner">
							<a class="lightbox-image icon flaticon-instagram" href="{% static 'images/gallery/4.jpg' %}"></a>
						</div>
					</div>
				</div>
				
				<!-- Insta Gallery -->
				<div class="insta-gallery">
					<img src="{% static 'images/gallery/5.jpg' %}" alt="" />
					<div class="overlay-box">
						<div class="overlay-inner">
							<a class="lightbox-image icon flaticon-instagram" href="{% static 'images/gallery/5.jpg' %}"></a>
						</div>
					</div>
				</div>
				
				<!-- Insta Gallery -->
				<div class="insta-gallery">
					<img src="{% static 'images/gallery/6.jpg' %}" alt="" />
					<div class="overlay-box">
						<div class="overlay-inner">
							<a class="lightbox-image icon flaticon-instagram" href="{% static 'images/gallery/6.jpg' %}"></a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Gallery Section -->
{% endblock content %}