{% load static %}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/parallax.min.js' %}"></script>
<script src="{% static 'js/tilt.jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.paroller.min.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/touchspin.js' %}"></script>
<script src="{% static 'js/odometer.js' %}"></script>
<script src="{% static 'js/mixitup.js' %}"></script>
<script src="{% static 'js/jquery.marquee.min.js' %}"></script>
<script src="{% static 'js/nav-tool.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>